cython
scipy
shapely
timm
h5py
submitit
scikit-image
wandb
setuptools
numpy
Pillow
pycocotools~=2.0.4
fvcore
tabulate
tqdm
ftfy
regex
opencv-python
open_clip_torch==2.16.0
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@v0.6
